@model EduProject.Models.ForumBaslik

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}

<div class="col-md-8 offset-md-2">
    <div class="position-relative mb-3">
        <h4><em>"@Html.DisplayFor(model => model.Name)"</em> konusu <strong class="text-danger">@Html.DisplayFor(model => model.Creator)</strong> tarafından açıldı.</h4>
    </div>
    <div class="row mt-4 mb-3">
        <h5>Cevaplar</h4>
    @if (ViewBag.Yazilar!=null)
    {
        @foreach (var item in ViewBag.Yazilar)
        {
            <div class="card mt-1">
                <div class="card-body">
                    <p class="card-text">@item.Message</p>
                    <p class="card-text text-muted position-absolute end-0 bottom-0 mb-1 m-3"><small>@item.Creator</small></p>
                    <a href="mailto:ismet.k3908@gmail.com?subject=@item.Message - @item.ForumCommentId 'in incelenmesini talep ediyorum.&body=`@item.Message` yorumu beni rahatsız ediyor."><i title="Şikayet et" class="bi bi-flag"></i></a>
                    
                </div>
            </div>
        } 
    }
    
    </div>
   
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="row mt-2">
        <div class="col-md-8 offset-md-2">
            
            <form asp-action="Details">
                <div class="text-danger"></div>
                <div class="form-group">
                    
                    <label for="Creator" class="control-label" hidden>Kimsiniz?</label>
                    <input type="text" hidden name="Creator" value="@ViewBag.Userad" class="form-control">
                    <label for="Message" class="control-label">Cevabınız</label>
                    <input type="text" name="Message" placeholder="@ViewBag.Userad olarak cevap veriyorsunuz." class="form-control"/>
                    <input name="ForumId" value="@ViewBag.Id" hidden>
                    
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-warning mt-2 mb-4" />
                </div>
            </form>
        </div>
    </div>
}
